<!--responser의 index 뷰-->
<br>
<br>
<div class="a">
    <span style="font-weight: bold">설문 제목:</span>
    <%= @survey_title %>
    <%# @survey %>
    <hr>
    <%= form_for @responser, url: responser_create_path(@survey.id), method: "post" do |f| %>
        설문에 대답하거나 수정하려면 닉네임과 패스워드를 입력해주세요. <br>
        <!--이후 수정을 위해서는 꼭 닉네임, 비밀번호를 기억해주세요.-->
        닉네임<%= f.text_field :nickname %><br>
        비밀번호<%= f.password_field :password %><br>
        <%= f.submit "설문에 대답하기" %>
    <% end %>

</div>



<%# @questions.each do |s| %>
    <!--<span style="font-weight: bold">질문 제목:</span>-->
    <%#= s.question_content %>
    <!--<hr>-->
<%# end %>

<style>
    .a {
        margin-top: 200px;
    }
</style>