<h1 align= "center">내 취합 목록</h1>
<div align= "right"><%= link_to "새 취합하기", root_path, class:"btn" %></div>
<br>

<%= @text %>
<% @surveys.each do |s| %>
    <span class="title-black">취합명:</span>
    <span class="title"><%= s.title %></span>
    개설일 : <%= s.created_at.strftime("%y. %m. %d") %><br>
    <%= link_to "자세히 보기", survey_path(s), class: "small-btn small-text" %>
    <%= link_to "결과보기", surveys_link_path(s), class: "small-btn small-text"  %> <br>
    
    <button type="button" class="small-btn small-text" data-toggle="modal" data-target="#myModal<%=s.id%>">공유링크</button>
   <!-- Modal -->
        <div class="modal fade" id="myModal<%=s.id%>" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">링크보기</h4>
                    </div>
                    <div class="modal-body" id="modal-link" align="center"> <!-- modal body-->
                    <h2>
                    https://163b6a0f822f49158af328354cd4e277.vfs.cloud9.ap-northeast-1.amazonaws.com/responsers/index?survey_id=<%= s.id %>
                    </h2>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    

    <%= link_to "삭제하기", survey_path(s), method: :delete, class: "small-btn small-text"  %>
    <%= s.link %><br>

    

    <hr>
<% end %>





<script>
    
</script>


<script> function btn()
    { }
</script>

<style>
*{
  font-family: 'S-CoreDream-4Regular';
  font-size: 20px;
}

  .center {
    text-align: center;
  }
  
  .bigfont{
      font-size: 60px;
  }
  
 .btn {
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  background: #41228e;
  margin: 5px;
  color: white;


  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
 }
  
 .btn2 {
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  background: #ee519d;
  margin: 5px;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
 } 
  
  .btn-primary {
  background: $primary-color;
  color: $white;

  &:active {
    background: lighten($color: $primary-color, $amount: 10) !important;
  }

  &:hover {
    background: lighten($color: $primary-color, $amount: 10);
  }

  &.focus,
  &.active {
    background: lighten($color: $primary-color, $amount: 10) !important;
    box-shadow: none !important;
  }
  }
  
 .small-btn {
    height: 30px;
    width: 70px;
    background: rgb(221, 221, 221);
 }
 
 .small-text {
    padding: 5px 3px;
    margin: 1px;
    border: none;
    color: #542cb7;
    font-size: 100% ;
    font-family: "S-CoreDream-4Regular";
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
 }
 
 .title {
     font-family: "S-CoreDream-8Heavy";
     color: #542cb7
 }
 
  .title-black {
     font-family: "S-CoreDream-8Heavy";
     color: black;
 }
 </style>