<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--부트스트랩 CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/45b9b7b830.js"></script>  
    <!-- mobile responsive meta 원래 있던건데 뭔지 몰라서 주석처리해봄-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    
    
    <!--modal-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    
    
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <!-- -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- -->
    <title>한방에 취합하기 MOA</title>
  </head>

  <body>
    <header class="navigation fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <%#= link_to "메인으로", "/" %>
        <%#= link_to root_path do %>
          <!--<img src="<%#= asset_path 'moa.png' %>", height="60", width="100">-->
        <%# end %>

        
        
          <div class="collapse navbar-collapse text-center" id="navigation">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to current_user.email, surveys_path, :class => "nav-link" %> <!-- 자신의 계정 클릭 시 자신의 설문 목록-->
                </li>
                <li class="nav-item">
                  <%#= link_to "로그아웃", destroy_user_session_path, method: :delete, :class => "nav-link" %>
                  <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "로그아웃 하시겠습니까?"},class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                <%= link_to "로그인", user_session_path, :class => "nav-link" %>
                </li>
            </ul>
          </div>
        <% end %>
      </nav>
    </header>
    
    <%= alert %>
    <%= notice %>
    <%= yield %>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
